{% extends 'base.html.twig' %}

{% block title %}Editar Detalle {{ siniestro_detalle.id }}{% endblock %}
{% block body %}
    <h1>Editar detalle {{ siniestro_detalle.id }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Actualizar') }}</button>
    {{ form_end(form) }}
{% endblock %}