{% extends 'base.html.twig' %}

{% block title %}Nuevo estado civil{% endblock %}

{% block body %}
    <h1>Registrar nuevo estado civil</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_siniestro') }}">Volver al listado de estados</a>
{% endblock %}