{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Tipo de Vehículo{% endblock %}

{% block body %}
    <h1>Crear nuevo tipo de vehículo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_tipo_vehiculo') }}">Volver a la lista de Tipos de Vehículo</a>
{% endblock %}